@charset "UTF-8";

*{
  padding-left: 7px;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
}

div{
  background-color: rgb(24, 20, 20);
  margin: 10px 20px 15px 20px;
  border-radius: 4px;

  & p{
    color: lightgray;
    margin: 5px 0px 5px 5px
  }
}

h2{
  display: inline-block;
  color: white;
  margin: 20px 0px 0px 5px;
  margin-bottom: 5px;
}

.forte{
  font-size: 1.4em;
}

strong{
  color: rgb(231, 187, 76);
  margin: 0px;
  padding: 0px;
}
a{
 display: inline-block;
 margin: 15px 5px 25px 13px;
padding: 5px 5px 5px 5px ;
 text-decoration: none;
 background-color: goldenrod;
 color: black;
 border-radius: 4px;
}